<div class="container col-12">
  <div class="center-align">
    <div class="logo">Work Next</div>
    <button mat-flat-button color="warn" class="button">Login</button>
    <button mat-flat-button class="button">Sign up</button>
  </div>
</div>
